packaging_format = 2

id = "trustyhash"
name = "TrustyHash"
description.en = "SHA-256 Hash Calculator"
description.fr = "Calculateur de hachage SHA-256"

version = "2016.06.17~ynh1"

maintainers = ["jarod5001"]

[upstream]
license = "MIT"
demo = "https://sprin.github.io/TrustyHash/"
userdoc = "https://github.com/sprin/TrustyHash"
code = "https://github.com/sprin/TrustyHash"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "300M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/trustyhash"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/sprin/TrustyHash/archive/2a360dd904424c1c0365cb36e2b4ea91cf8e57b9.tar.gz"
        sha256 = "5bf6070d6971681e2802e6afc3e393a535eeafd480d9711e1e763f40bdd84b5e"
        autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "php8.2-fpm"
